.formSectionOne {
  z-index: 1;
  background-color: rgb(210, 235, 250);
  width: 800px;
  height: 750px;
  box-shadow: 6px 0px 6px rgb(48, 171, 189);
  border-radius: 8px;
  display: inline-block;
  color: #00012d;
  padding-top: 15px;
}

.textbox {
  height: 300px;
}

.selections {
  margin-top: 10px;
}

.formbg {
  margin-top: -21px;
}
